@import 'https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css';
@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');
body {
    background: rgb(251, 165, 63);
    background: radial-gradient(
        circle,
        rgba(251, 165, 63, 1) 0%,
        rgba(10, 0, 2, 1) 100%
    );
    text-align: center;
    font-family: 'Economica', sans-serif;

    font-size: 6vw;
    color: rgb(187, 188, 197);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 10vw;
    }
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lander {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
}
#intro {
    margin-bottom: 1em;
}
iframe {
    margin-top: 1em;
}
#browser-support {
    font-size: 0.25em;
    font-style: italic;
}
button {
    /* border: transparent; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(10, 0, 2, 1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 8px;
}
