@import 'https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css';
body {
    background: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lander {
    background: #af7231;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 3px;
    border: solid 3px #762596;
    /* -webkit-box-shadow: 10px 10px 5px 0px #af7231;
    -moz-box-shadow: 10px 10px 5px 0px #af7231;
    box-shadow: 10px 10px 5px 0px #af7231; */
}
#intro {
    margin-bottom: 1em;
}
button {
    border: solid 3px #762596;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
